<!DOCTYPE html>
<html>
<title>My Simple Git Server</title>
<head>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
	
<script type="text/javascript">
var repos = "{{ repos_list }}";
if (repos.indexOf(';')) {
	repos = repos.split(';')
} else {
	repos = [repos]
}
if (!window.location.origin) {
  window.location.origin = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port: '');
}
origin = window.location.origin
l = repos.length

function append_server_list(repo) {
    $("#server_list").append(repo);
}

$(document).ready(function(){
	for (i=0; i < l; i++) {
		append_server_list("<p>"+origin+repos[i]+"</p>");	
	}
})

</script>
</head>
<style>
#server_list {
	margin: auto;
	width: 25%;
	text-align: center;
	border: 3px solid green;
    padding: 10px;
}
#add_newrepo {
	margin: auto;
	width: 25%;
	text-align: center;
    padding: 10px;
}
</style>

<body>
<div id="server_list"></div>
<div id="add_newrepo">
	<form method="get" action="repository">
		<h4>Init a new bare Repository</h4><br>
		<input type="text" name="add_new_repository">
		<input type="submit" value="Init">
	</form>
</div>
<div id="repo_message"></div>
</body>
</html>