<!DOCTYPE html>
<html>
<title>My Simple Git Server</title>
<body>
<div id="server_list"></div>
<script type="text/javascript">
var repos = "{{ repos_list }}"
if (repos.indexOf(';')) {
	repos = repos.split(';')
} else {
	repos = [repos]
}
if (!window.location.origin) {
  window.location.origin = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port: '');
}
origin = window.location.origin
l = repos.length
for(i = 0; i < l; i++) {
	document.getElementById("server_list").innerHTML += "<p>"+origin + repos[i] + "</p>";
}
</script>
</body>
</html>