<!DOCTYPE html>
<html>
<title>My Simple Git Server</title>
<style>
#server_list {
	margin: auto;
	width: 25%;
	text-align: center;
	border: 3px solid green;
    padding: 10px;
}
#add_newrepo {
	margin: auto;
	width: 25%;
	text-align: center;
    padding: 10px;
}
</style>
<body>
<div id="server_list"></div>
<div id="add_newrepo">
	<form method="get" action="repository">
		<h4>Init a new bare Repository</h4><br>
		<input type="text" name="add_new_repository">
		<input type="submit" value="Init">
	</form>
</div>

<script type="text/javascript">
var repos = "{{ repos_list }}"
if (repos.indexOf(';')) {
	repos = repos.split(';')
} else {
	repos = [repos]
}
if (!window.location.origin) {
  window.location.origin = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port: '');
}
origin = window.location.origin
l = repos.length
for(i = 0; i < l; i++) {
	document.getElementById("server_list").innerHTML += "<p>"+origin + repos[i] + "</p>";
}
function reloadPage() {
   window.location.href = window.location.href;
}
</script>
</body>
</html>